{% extends 'base.html.twig' %}

{% block description %}Accueil{% endblock %}

{% block title %}Accueil{% endblock %}

    {% block stylesheets %}
        {{ encore_entry_link_tags('index') }}
    {% endblock %}


{% block body %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <div id="map" class="exemple">
                        <div id="map-cercle" style="padding-top: 49%">
                            <h3 class="text-center">Viens jouer&nbsp;!</h3>
                            <p class="text-center">Relève les défis !</p>
                            <div class="text-center">
                                <a class="btn btn-map btn-lg" href="{{ path('map') }}" role="button">Have fun !</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <div id="quizz" class="exemple">
                        <div id="quizz-cercle" style="padding: 25%">
                            <h3 class="text-center">Quizz</h3>
                            <p class="text-center">Teste tes connaissances</p>
                            <div class="text-center">
                                <a class="btn btn-quizz" href="{{ path('quizz_index') }}" role="button">Go !</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <div class="row">
                    <div class="offset-md-3 col-md-6 col-xs-12">
                        <div id="know" class="exemple">
                            <div id="know-cercle" style="padding-top: 40%">
                                <h3 class="text-center">Le savais-tu&nbsp;?</h3>
                                <div class="text-center" style="padding-top: 10%">
                                    <a class="btn btn-know btn-lg" href="{{ path('know') }}" role="button">Go !</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('index') }}
{% endblock %}
