{% extends 'base.html.twig' %}

{% block title %}Quizz{% endblock %}

{% block body %}
    <h1>Quizz</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ quizz.id }}</td>
            </tr>
            <tr>
                <th>Question</th>
                <td>{{ quizz.question }}</td>
            </tr>
            <tr>
                <th>AnswerA</th>
                <td>{{ quizz.answerA }}</td>
            </tr>
            <tr>
                <th>AnswerB</th>
                <td>{{ quizz.answerB }}</td>
            </tr>
            <tr>
                <th>AnswerC</th>
                <td>{{ quizz.answerC }}</td>
            </tr>
            <tr>
                <th>AnswerD</th>
                <td>{{ quizz.answerD }}</td>
            </tr>
            <tr>
                <th>AnswerValidate</th>
                <td>{{ quizz.answerValidate }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('quizz_index') }}">back to list</a>

    <a href="{{ path('quizz_edit', {'id': quizz.id}) }}">edit</a>

    {{ include('quizz/_delete_form.html.twig') }}
{% endblock %}
